@import url("../workshops/section-month.css");

.section-workshops-meet{
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-block: 52px 65px;
}

.section-workshops-meet-title{
  font: var(--heading2-light);
  margin: 0;
}

.section-workshops-meet .button-secondary{
  align-self: flex-start;
}