.hero-workshops{
  padding-block: 88px 101px;
}

.hero-workshops-main{
  display: flex;
  align-items: center;
  color: var(--black-10);
  gap: 25px;
  margin-block-start: 50px;
  flex-direction: column;
  text-align: center;
}

.hero-workshops-title{
  font: var(--heading2-light);
  flex: 1;
  margin: 0;
}

.hero-workshops-text{
  margin: 0;
  font: var(--body1-regular);
  color: inherit;
}



@media screen and (min-width: 1183px) {
  .hero-workshops-main{
    flex-direction: row;
  }

  
}
