@import url('../index.css');
@import url('./hero-workshops.css');
@import url('./section-month.css');

.workshops-main{
  display: flex;
  flex-direction: column;
  gap: 106px;
  padding-block-end: 111px;
}