@import url('./place-card.css');

/* .section-month{
  
} */

.place-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 293px);
  grid-auto-rows: auto;
  row-gap: 60px;
  column-gap: 50px;
  place-content: center;
}

.section-month.none{
  display: block;
}

.section-month.none .none-title{
  font: var(--body1-bold);
  text-align: center;
  color: var(--black-10);
  margin-block-end: 0;
}

.section-month.none{
  padding-block-end: 119px;
}

.section-month-title{
  grid-area: title;
  font: var(--body1-bold);
  color: var(--black-10);
  margin: 0;
  margin-block-end: 27px;
}

