.hero-about{
  padding-block: 88px 95px;
  /* border: 1px solid red; */
}

.hero-header{
  /* border: 1px solid red; */
  padding-block-end: 19px;
  border-block-end: 0.5px solid #E8E8E8;
}

.hero-header.blog{
  padding-block-start: 116px;
}

.hero-about .hero-header{
  margin-block-end: 92px;
}

.hero-title{
  font: var(--heading2-light);
  color: #738A8A;
  margin: 0;
  /* margin-block-end: 111px; */
}

.hero-about .hero-about-main{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  /* border: 1px solid red; */
}

.hero-about-main .hero-about-img{
  max-inline-size: 202px;
  inline-size: 100%;
}

.hero-about-img img{
  vertical-align: middle;
}

.hero-about-content{
  color: var(--black-10);
}

.hero-about-content .hero-content-title{
  font: var(--heading3-semibold);
  margin: 0;
  margin-block-end: 14px;
}

.hero-about-content .hero-content-subtitle{
  font: var(--body1-medium);
  margin-block-start: 14px;
}

.hero-about-content .hero-content-text{
  font: var(--body1-regular);
  font-size: 12px;
  margin-block-start: 41px;
  margin-block-end: 54px;
}


/* @media screen and (min-width: 682px) {
  .hero-about-main{
    
  }
  
} */

@media screen and (min-width: 682px) {
  .hero-about .hero-about-main{
    flex-direction: row;
    padding-inline-start: 35px;
    gap: 56px;

  }  
}