@import url('./blog-card.css');

.blog-main{
  display: grid;
  grid-template-columns: 1fr 242px;
  gap: 16px;
  padding-block: 48px;
}

.blog-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.blog-sidebar{
  inline-size: 242px;
  inline-size: 100%;
  border: 1px solid red;
  block-size: 100px;
}