.blog-card{
  padding-block-end: 42px;
  border-block-end: 1px solid var(--red);
}

.blog-card-img{
  inline-size: 100%;
  max-block-size: 407px;
  block-size: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.blog-card-img img{
  /* object-fit: contain; */
  inline-size: 100%;
}

.blog-card-title{
  font: var(--heading2-light);
  color: var(--green);
  margin-block: 16px;
}

.blog-card-text{
  font: var(--body1-light);
  font-size: 12px;
  color: #000000;
  margin-block: 22px;
}