.blog-card{
  padding-block-end: 42px;
  border-block-end: 1px solid var(--red);
}

.blog-card-img{
  inline-size: 100%;
  max-block-size: 407px;
  block-size: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.blog-card-img img{
  /* object-fit: contain; */
  inline-size: 100%;
}

.blog-card-title{
  font: var(--heading2-light);
  color: var(--green);
  margin-block: 16px;
}

.blog-card .blog-info{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.blog-info .info-details{
  display: flex;
  gap: 14px;
  align-items: center;
}

.info-details .info-user, .info-calendar{
  display: flex;
  gap: 3.5px;
  align-items: center;
  font: var(--body1-regular);
  color: #0D1D1E;
  font-size: 12px;
}

.blog-info .info-topics{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-topics .button-secondary{
  padding-block: 5px;
  font-size: 12px;
  text-transform: none; 
}

.blog-card-text{
  font: var(--body1-light);
  font-size: 12px;
  color: #000000;
  margin-block: 22px;
}
