.hero-change{
  padding-block: 88px 43px;
  border-block-end: 0.5px solid #E9E9E9;
}

.hero-change-main .hero-main-title{
  font: var(--heading2-light);
  text-align: center;
  margin-block: 42px 89px;
}

.hero-change-circles-section{
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-change-circles-section > img{
  transform: rotate(90deg);
}

.hero-circle-group .hero-change-circle{
  max-inline-size: 200px;
  inline-size: 100%;
  max-block-size: 200px;
  block-size: 100vh;
  border: 25px solid var(--white-20);
  border-radius: 50%;
}

.hero-circle-group .hero-circle-text{
  font: var(--heading3-light);
  color: var(--black-10);
  margin-block: 0;
  margin-block-start: 19px; 
  text-align: center;
}

@media screen and (min-width: 909px) {
  .hero-change-circles-section{
    flex-direction: row;
    gap: 9px;
  }

  .hero-change-circles-section > img{
    transform: rotate(0);
  }
  
}