.calendar {
  margin: 0 auto;
  text-align: center;
  font: var(--body1-bold);
  color: var(--black-10);
  overflow: hidden;
}

.calendar .calendar-header {
  margin: 49px auto;
  color: #738A8A;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 744px;
}

.calendar-header h4{
  margin: 0;
  flex: 1;
}

.table-container{
  inline-size: 100%;
  overflow: auto;
  margin: auto;
}

.calendar table {
  border-collapse: collapse;
  inline-size: 100%;
  max-inline-size: 744px;
  margin: auto;

}

.calendar thead th {
  /* padding: 10px; */
  padding-block-end: 37px;
  border-block-end: 2px solid #ECECEC;
}

.calendar tbody td {
  /* border: 1px solid #ddd; */
  padding: 22px 50px;
  font: var(--body1-light);

}

.calendar tbody td:hover {
  background-color: #f2f2f2;
}