.calendar {
  margin: 0 auto;
  text-align: center;
  font: var(--body1-bold);
  color: var(--black-10);
}

.calendar .calendar-header {
  margin: 49px auto;
  color: #738A8A;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 824.050px;
}

.calendar-header h4{
  margin: 0;
  flex: 1;
  /* padding-inline: ; */
  /* border: 1px solid red; */
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead th {
  /* padding: 10px; */
  padding-block-end: 37px;
  border-block-end: 2px solid #ECECEC;
}

tbody td {
  /* border: 1px solid #ddd; */
  padding: 22px 50px;
  font: var(--body1-light);

}

.calendar:not(.meet-me) tbody td:hover {
  background-color: #f2f2f2;
}

.calendar.meet-me{
  background-color: #02BD56;
  color: var(--white-10);
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  padding: 34px 22px;
  flex: 1;
}

.calendar.meet-me .calendar-header{
  margin: 0;
  margin-block-end: 22px;
}

.calendar.meet-me .calendar-header h4{
  color: var(--white-10);
}

.calendar.meet-me table{
  margin: 0;
}

.calendar.meet-me thead th{
  padding-block-end: 10px;
  border-block-end: 0.5px solid #DBDBDB;
}

.calendar.meet-me tbody td{
  padding: 15px 12px;
}

