.five-steps-bg{
  background-color: var(--white-20);
}

.five-steps{
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding-block-start: 68px;
  padding-block-end: 82px;

}

.five-steps .five-steps-title{
  font: var(--heading2-light);
  color: var(--black-10);
  margin: 0;
}

.five-steps img{
  vertical-align: middle;
}

.five-steps-content-list{
  display: flex;
  align-items: center;
  gap: 13px;
  margin-block-end: 20px;
}

.five-steps-content .content-title{
  font: var(--body1-semibold);
  color: var(--black-10);
  margin: 0;
  margin-block-start: 27px;
}

.five-steps-content .content-text{
  font: var(--body1-light);
  font-size: 12px;
}

