.five-steps-bg{
  background-color: var(--white-20);
}

.five-steps{
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding-block-start: 68px;
  padding-block-end: 82px;

}

.five-steps .five-steps-title{
  font: var(--heading2-light);
  color: var(--black-10);
  margin: 0;
}

.five-steps img{
  vertical-align: middle;
}

.five-steps-content-list{
  display: flex;
  align-items: center;
  gap: 13px;
  margin-block-end: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}

.five-steps-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
}

.five-steps-content .content-graph{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-inline-size: 70px;
  inline-size: 100%;
  gap: 10px;
}

.content-graph .content-number{
  margin: 0;
  font: var(--heading3-regular);
  color: #0D1D1E;
}

.content-graph .content-block{
  background-color: var(--green);
  block-size: 25px;
  inline-size: 100%;
}

.five-steps-content:nth-of-type(2) .content-graph .content-block{
  block-size: 50px;
}

.five-steps-content:nth-of-type(3) .content-graph .content-block{
  block-size: 75px;
}

.five-steps-content:nth-of-type(4) .content-graph .content-block{
  block-size: 100px;
}

.five-steps-content:nth-of-type(5) .content-graph .content-block{
  block-size: 125px;
}

.five-steps-content .content-title{
  font: var(--body1-semibold);
  color: var(--black-10);
  margin: 0;
  margin-block-start: 27px;
}

.five-steps-content .content-text{
  font: var(--body1-light);
  font-size: 12px;
}

@media screen and (min-width: 1456px) {

  .five-steps-content-list{
    flex-direction: row;
    align-items: flex-end;
    justify-content: unset;
  }

  .five-steps-content{
    align-items: unset; 
  }

  
}