.footer{
  display: flex;
  background-color: var(--white-20);
  flex-direction: column;
}

.footer .rights-text{
  font: var(--heading3-regular);
  text-align: center;
  padding-block: 24px;
  flex: 1;
}

.footer .to-top{
  background-color: var(--green);
  color: var(--white-10);
  font: var(--heading3-regular);
  padding-block: 24px;
  inline-size: 100%;
 
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px; 
}

.footer .to-top img{
  vertical-align: middle;
}
@media screen and (min-width: 969px) {
  .footer{
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .footer .to-top{
    max-inline-size: 563px;
  }
  
}