.header{
  padding-block-start: 11px;
  padding-block-end: 28px;
}

.header-info-contact{
  display: flex;
  justify-content: end;
  gap: 31px;
  margin-block-end: 10px;
}

.header-info-contact .text{
  font: var(--body1-regular);
  font-size: 12px;
  color: #738A8A;
}

.header-content-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header-list{
  display: flex;
  gap: 29px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-item a{
  color: var(--black-10);
  text-transform: uppercase;
  font: var(--body1-bold);
  cursor: pointer;
  text-decoration: none;
  border-block-end: 2px solid transparent;
  padding-block-end: 5px;
}

.header-item.active a{
  color: var(--black-20);
  border-block-end-color: var(--green);

}