.hero-bg{
  background: url('../assets/hero-bg.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  inline-size: 100%;
  object-fit: contain;
}

.hero-bg .icon-header-calendar img{
  vertical-align: middle;
}

.hero{
  display: flex;
  align-items: center;
  gap: 27px;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: start;
  align-content: center;
  padding-block: 110px;
}

.hero .hero-span{
  color: var(--black-20);
  font: var(--body1-light);
}

.hero .hero-title{
  font: var(--heading2-bold);
  color: var(--black-10);
  margin-block: 16px;

}

.hero-link{
  font: var(--body1-bold);
  color: var(--green);
  text-decoration: none;
  border-block-end: 2px solid var(--green);
  text-transform: uppercase;
} 








/* dispositivos de mas de 1438px */
@media screen and (min-width: 906px){
  .hero-bg{
    max-block-size: 480px;
  }

  

  .hero .hero-title{
    margin-block: 50px;
    font: var(--heading1);
  }
}
