.hero-bg{
  block-size: 100vh;
  background: url('../assets/hero-bg-texture.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  max-block-size: 480px;
  position: relative;
  /* padding-block: 110px; */
  /* border: 1px solid red; */
}

.hero-bg .icon-header-calendar{
  position: absolute;
  top: 0;
  right: 225px;
  z-index: 2;
  transform: translateY(-50%);

}

.hero-bg .icon-header-calendar img{
  vertical-align: middle;
}

.hero{
  display: flex;
  align-items: center;
  gap: 27px;
  box-sizing: border-box;
  overflow: hidden;
}

.hero .hero-span{
  color: var(--black-20);
  font: var(--body1-light);
}

.hero .hero-title{
  font: var(--heading1);
  color: var(--black-10);
  margin-block: 50px;
}

.hero-link{
  font: var(--body1-bold);
  color: var(--green);
  text-decoration: none;
  border-block-end: 2px solid var(--green);
} 

.hero .hero-person{
  inline-size: 100%;
  max-inline-size: 359px;
  /* block-size: auto; */
  overflow: hidden;
  object-fit: contain;
  block-size: 480px;
  position: relative;
  z-index: 1;
}

.hero .hero-person img{
  vertical-align: top;
  position: absolute;
  bottom: 0;
}

.hero .hero-imageBg{
  position: absolute;
  /* Este es para mi computador*/
  max-inline-size: 550px;
  right: 0;
  block-size: 480px;
  inline-size: 100%;
  background: url('../assets/bg-hero.png');
  background-repeat: no-repeat;
  background-size: 100%; 
}

