.hero-bg{
  background: url('../assets/hero-bg-texture.png');
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  inline-size: 100%;
  padding-block: 32px;
}

.hero-bg .icon-header-calendar img{
  vertical-align: middle;
}

.hero{
  display: flex;
  align-items: center;
  gap: 27px;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.hero .hero-span{
  color: var(--black-20);
  font: var(--body1-light);
}

.hero .hero-title{
  font: var(--heading1);
  color: var(--black-10);
  margin-block: 50px;
}

.hero-link{
  font: var(--body1-bold);
  color: var(--green);
  text-decoration: none;
  border-block-end: 2px solid var(--green);
  text-transform: uppercase;
} 

.hero .hero-person{
  background: url("../assets/persona-hero.png");
  inline-size: 359px;
  block-size: 480px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: flex-end;
  order: 1;
}


.hero .hero-imageBg{
  position: absolute;
  max-inline-size: 550px;
  right: 0;
  block-size: 480px;
  inline-size: 100%;
  background: url('../assets/bg-hero.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  display: none;
}



/* dispositivos de mas de 1438px */
@media screen and (min-width: 1438px){
  .hero-bg{
    max-block-size: 480px;
    padding-block: 0;
  }

  .hero{
    flex-direction: row;
  }

  .hero .hero-person{
    transform: translateX(-30%);
  }

  .hero .hero-imageBg{
    max-inline-size: 550px;
    display: unset;
  }
}

/* dispositivos de mas de 1617px */
@media screen and (min-width: 1617px) {

  .hero-bg{
    padding-block: 0;
  }

  .hero .hero-person{
    transform: translateX(-100%);
  }
  
  
  
  .hero .hero-imageBg{
    max-inline-size: 600px;
    
  }
  
}