@import url("./wrapper.css");
@import url("./header.css");
@import url("./hero.css");

:root{
  --black-10: #245657;
  --black-20: #0D1D1E;
  --green: #02BD56;
  --white-10: #FFFFFF;
  --white-20: #FFFCF9;
  --heading1: 600 50px/61px Montserrat;
  --body1-bold: 700 15px/18.29px Montserrat; 
  --body1-regular: 400 15px/18.29px Montserrat; 
  --body1-light: 300 15px/18.29px Montserrat; 
  --body1-medium: 500 15px/18.29px Montserrat; 
}


body,
html{
  background-color: var(--white-10);
  color: var(--black-10);
  margin: 0;
  scroll-behavior: smooth;
}