@import url("./wrapper.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./skill-section.css");
@import url("./quote.css");
@import url("./about.css");
@import url("./daily-quote.css");

:root{
  --black-10: #245657;
  --black-20: #0D1D1E;
  --green: #02BD56;
  --white-10: #FFFFFF;
  --white-20: #FFFCF9;
  --red: #FF3D00;
  --heading1: 600 50px/61px Montserrat;
  --heading2-bold: 700 30px/36.57px Montserrat; 
  --heading2-light: 300 30px/36.57px Montserrat; 
  --heading2-regular: 400 30px/36.57px Montserrat; 
  --heading3-semibold: 600 20px/24.38px Montserrat; 
  --body1-bold: 700 15px/18.29px Montserrat; 
  --body1-regular: 400 15px/18.29px Montserrat; 
  --body1-light: 300 15px/18.29px Montserrat; 
  --body1-medium: 500 15px/18.29px Montserrat; 
}


body,
html{
  background-color: var(--white-10);
  color: var(--black-10);
  margin: 0;
  scroll-behavior: smooth;
}