.quote{
  text-align: center;
  padding-block: 50px;
  background-color: var(--white-20);
}

.quote .quote-text{
  margin: 0;
  margin-block: 13px;
  font: var(--body1-regular);
  color: var(--black-20);
}



