.successful-section{
  padding-block-start: 101px;
  padding-block-end: 137px;
}

.successful-section.change-your-life .successful-card{
  background-color: var(--white-20);
  padding-block-end: 20px;
}

.successful-section .successful-title{
  margin: 0;
  font: var(--heading2-light);
  grid-area: title;
}

.section-card{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-card:first-of-type{
  margin-block-start: 32px;
  margin-block-end: 32px;
}

.successful-card{
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.successful-card .successful-img{
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: center;
  margin-block-start: 27px;
  border: 5px solid #F1F1F1;
  inline-size: 110px;
  block-size: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  
}

.successful-card .successful-text{
  font: var(--body1-light);
  margin: 0;
  margin-block-end: 10px;
  margin-block-start: 49px;
}

.successful-content .quote-author{
  margin-inline-start: 30px;
}

@media screen and (min-width: 450px) {
  .successful-card{
    flex-direction: row;
    gap: 20px;
    justify-content: unset;
    align-items: unset;
    text-align: start;
  }

  
}

@media screen and (min-width: 1288px){
  .section-card{
    flex-direction: row;
    gap: 50px;
  }

  .section-card:first-of-type{
    margin-block-start: 54px;
    margin-block-end: 45px;
  }
  

}